langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

pypdf
pymupdf
python-docx
docx2txt
unstructured
openpyxl
pandas

sentence-transformers
faiss-cpu
chromadb
scikit-learn
numpy
protobuf
onnxruntime